/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
/************************************************************************************/
/*CSS for slide show*/
* {box-sizing:border-box;}

 body{
     font-family: Verdana, sans-serif;
     margin: 0;
 }

.mySlides {
  display: none;
}

img{
  vertical-align: middle; 
  height: 450;
  
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  

.active{
  background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

  /******************************************************/
.column{
  float:left; 
  padding: 15px;
  color:white;
}
.clearfix::after {
content: "";
clear: both;
display: table;
}
.leftspace{
  width:15%
}
.menu{
  width:10%;
}
.menu ul{
  list-style: none;
  margin: 60px auto;
  padding: 10px;
}

.menu li {
  padding: 8px;
  margin-bottom: 8px;
  color: #ffffff;
}
.menu li:hover {
  background-color: #ddd;
  color: black;
}
.content{
  width:50%;
}
.rightspace{
  width:15%
}